/* --------  PALETTE -----------*/
@font-face {
  font-family: Palanquin-Regular;
  src: url(./assets/fonts/Palanquin-Regular.ttf);
}

.centerdiv{
  align: center;
  max-width: 960px;
  margin-top: 0;
  margin: auto;
  font-family: Palanquin-Regular;
}

/* --------  HEADER ------------*/
.header {
  margin-top: 0rem;
  padding-top: 0rem;
}



.header .items {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  color: White;
  background: Black;
}

.header .left-items {
  display: flex;
  column-gap: 0px;
}

.header .items a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

/*----------  page related -----------*/
.page {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  display: flex;
  justify-content: Left;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #627792;
}

/* ------   Menus  -----------*/
.hamburgerBar {
  width: 20px;
  height: 2px;
  background-color: rgb(250, 246, 246);
  margin: 4px 0;
  transition: 0.4s;
}

.menuButton {
  border: 0;
  color: white;
  background-color: transparent;
}

.menuButton :enabled:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1;
  border-style: groove;
  background: white;
  z-index: 9999;
}

.menuItem {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  border: 0;
  text-decoration: none;
  color: black;
}

.menuItem enabled:hover{
  color: white;
  background: blue;
  cursor: pointer;
}

/* ---------- Language selector --------------*/
.language-selector button {
  background-color: transparent;
  border: 0;
}

.language-selector .menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: flex-start;
  z-index: 9999;
  background-color: white;
  border: 1;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  top: 30px;
  right: 10px;
  color: black;
}

.language-selector .menu input {
  border: 0;
  background-color: white;
}

.language-selector {
  display: absolute;
  position: relative;
  top: 0px;
  right: 0px;
}

/* ------ ERROR -------*/
.errorShow {
  margin-top: 25px;
  display: hidden;
  padding: 0px 0px;
  background: red;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  transform: translateY("0");
  transition: 0.5s;
}

.errorHide{
  transform: translateY("-32px");
  transition: 0.5s;
}

