form button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  border: 1;
  background-color: rgb(39, 192, 39);
}

form button:disabled {
  background-color:rgb(226, 226, 226);
}

form input {
  display: block;
  width: 250px;
  font-size: 1.25em;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: black;
  background-color: #ececec;
  border: 0px;
}

form span {
  float: right;
  color: red;
}

form label {
  font-size: 1em;
}

form .row {
  display: block;
  max-width: 250px;
  align-content: "space-between";
}

.square {
  height: 125px;
  width: 125px;
  text-align: center;
  background-color: rgb(222, 234, 247);
}